openapi: 3.0.3
info:
  title: Order Management API
  description: APIs for managing customer orders in an e-commerce platform
  version: 2.1.0
  contact:
    name: Platform API Team
    email: api-support@ecommerce.com

servers:
  - url: https://api.ecommerce.com/v2
    description: Production
  - url: https://sandbox.api.ecommerce.com/v2
    description: Sandbox

tags:
  - name: Orders
    description: Order related operations
  - name: Payments
    description: Payment related operations

security:
  - bearerAuth: []

paths:

  /orders:
    get:
      tags: [Orders]
      summary: Get orders
      description: Fetch orders for logged-in user
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [CREATED, PAID, SHIPPED, DELIVERED, CANCELLED]
          example: PAID
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
          example: "2024-12-01"
        - name: toDate
          in: query
          schema:
            type: string
            format: date
          example: "2024-12-31"
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'

    post:
      tags: [Orders]
      summary: Create order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /orders/{orderId}:
    get:
      tags: [Orders]
      summary: Get order by ID
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
          example: "ORD-20241201-0098"
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found

  /orders/{orderId}/cancel:
    post:
      tags: [Orders]
      summary: Cancel order
      description: Cancel order if not shipped
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order cancelled successfully
        '409':
          description: Order cannot be cancelled

  /payments:
    post:
      tags: [Payments]
      summary: Make payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '402':
          description: Payment failed

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    Order:
      type: object
      properties:
        orderId:
          type: string
          example: "ORD-20241201-0098"
        status:
          type: string
          example: "PAID"
        totalAmount:
          type: number
          format: double
          example: 249.99
        currency:
          type: string
          example: "USD"
        createdAt:
          type: string
          format: date-time
          example: "2024-12-01T12:45:30Z"
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    OrderItem:
      type: object
      properties:
        productId:
          type: string
          example: "PRD-8890"
        productName:
          type: string
          example: "Wireless Headphones"
        quantity:
          type: integer
          example: 1
        price:
          type: number
          format: double
          example: 199.99

    OrderListResponse:
      type: object
      properties:
        totalOrders:
          type: integer
          example: 5
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'

    CreateOrderRequest:
      type: object
      required:
        - items
        - shippingAddress
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderItem'
        shippingAddress:
          $ref: '#/components/schemas/Address'

    CreateOrderItem:
      type: object
      required:
        - productId
        - quantity
      properties:
        productId:
          type: string
          example: "PRD-8890"
        quantity:
          type: integer
          example: 2

    Address:
      type: object
      properties:
        street:
          type: string
          example: "123 Market Street"
        city:
          type: string
          example: "San Francisco"
        state:
          type: string
          example: "CA"
        postalCode:
          type: string
          example: "94105"
        country:
          type: string
          example: "USA"

    PaymentRequest:
      type: object
      required:
        - orderId
        - paymentMethod
        - amount
      properties:
        orderId:
          type: string
          example: "ORD-20241201-0098"
        paymentMethod:
          type: string
          example: "CREDIT_CARD"
        amount:
          type: number
          format: double
          example: 249.99

    PaymentResponse:
      type: object
      properties:
        paymentId:
          type: string
          example: "PAY-782199"
        status:
          type: string
          example: "SUCCESS"
        paidAt:
          type: string
          format: date-time
          example: "2024-12-01T12:47:10Z"
